<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>
        {{restaurant.name}}
    </h1>
    {% for item in items %}
       <h3>
            {{item.name}}
        </h3>
        <h5>
            {{item.price}}
            <br>
            {{item.description}}
        </h5>
        <a href="{{ url_for('editMenuItem', restaurant_id = restaurant.id, menu_id = item.id) }}">Edit</a>
        <a href="{{ url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id = item.id) }}">Delete</a>
    {% endfor %}
</body>
</html>